<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid p-3 my-3">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron text-center">
          <h1>Mission To Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h4>{{ mtm.news_title}}</h4>
        <p>{{ mtm.news_paragraph }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2>Featured Mars Image</h2>
        <img src= {{ mtm.jpl_image }} class="img-fluid" width: 100% />
      </div>
      <div class="col-md-4">
        <div><h4>Mars Facts</h4></div>
        <div>{{ mtm.mars_table|safe }}</div>
      </div>
    </div>
    <div class="row">
      <br><h2>Mars Hemispheres</h2><hr>
      <div class="col-md-12">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src={{ mtm.mars_images[0].url }} alt="">
          <div class="card-body">
            <h6 class="card-text">{{ mtm.mars_images[0].title }}</h6>
          </div>
        </div>
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src={{ mtm.mars_images[1].url }} alt="">
          <div class="card-body">
            <h6 class="card-text">{{ mtm.mars_images[1].title }}</h6>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src={{ mtm.mars_images[2].url }} alt="">
          <div class="card-body">
            <h6 class="card-text">{{ mtm.mars_images[2].title }}</h6>
          </div>
        </div>
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src={{ mtm.mars_images[3].url }} alt="">
          <div class="card-body">
            <h6 class="card-text">{{ mtm.mars_images[3].title }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
